<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.upora.prevozi">

    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prevozi">
        <activity android:name=".ActivityQr" />
        <activity android:name=".ActivityInfo" />
        <activity
            android:name=".ActivityMain"
            android:launchMode="singleInstance"> <!-- android:launchMode="singleInstance" - to dodamo -->

            <intent-filter> <!-- prestavimo, da se nova forma odpre -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityInsert"
            android:launchMode="singleInstance"> <!-- samo ena instanca tega objekta, isto kot zgoraj -->

        </activity>
    </application>

</manifest>